body { font-size: 12px; font-family: Palatino, serif; background: #fff; }

.center { display: block;   margin-left: auto;   margin-right: auto; }

img.center   { display: block;   margin-left: auto;   margin-right: auto; }
.center      { display: block;   margin-left: auto;   margin-right: auto; text-align:center; }

span { text-align: justify; text-justify: auto; width: 95% }

.content { min-width: 800px; min-height: 400px; }
.header { font-size: 84px; color: #FF6600; font-weight: lighter; min-width: 800px; text-align: center; }
h1 { font-size: 48px; color: #FF6600; font-weight: lighter; min-width: 800px; text-align: center; }

p.text { text-align: justify; text-justify: inter-word; }
p.list { text-align: center; }

img.icon { vertical-align: middle; height: 18px; }

#once { clear: left; }

li { margin-bottom: 5px; }

a { text-decoration: none; }
a:link { color: #FF6600; }
a:visited { color: #FF6600; }
