<h1>Contributors</h1>
<center>
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
    
    <% @users.each do |user| %>
      <tr>
        <td><a href="<%= user.website %>"><%= user.name.upcase %></a></td>
        <td>
      <% user.images.each do |image| %>
            <a href="/i/<%= image.id %>"><img style="height:25px;" src="/images/file.png" /></a>&nbsp;
      <% end %>
        </td>
      </tr>
    <% end %>
    </table>
</center>
