<div id="square_content">
    <p class="orange_text square_text">In the art world and beyond, gender discrimination is still thriving. It does not matter what men and women actually do; it does not even matter if we do exactly the same thing. The social institution of gender insists only that what we do is perceived as different. If this weren’t the case, more young women would call themselves feminists. We can no more avoid being involved in this system than we can avoid being male or female. We cannot control whether we participate, only how we participate. We are all involved. We don’t have to feel privileged to be privileged. We are all part of the problem; the question is whether we’ll choose to also be part of the solution.</p>
</div>
<div class="footer">
    <a href="/join">JOIN</a>
</div>
