        <div class="content">
            <h1>About</h1>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies suscipit justo nec luctus. Suspendisse sed placerat enim. Nulla quam tortor, viverra non rhoncus ut, aliquam et massa. Nulla porttitor feugiat justo in bibendum. Integer egestas ligula nec diam condimentum molestie. Fusce euismod nulla a eros pretium feugiat. In eget leo nibh. Vestibulum lobortis augue vitae nunc luctus luctus. Vestibulum convallis nulla non lacus laoreet in placerat odio suscipit. Aliquam erat volutpat. Nam at ornare purus.</p>
                
                <p class="text">Aliquam erat volutpat. Sed sodales dapibus ultrices. Donec commodo, velit sit amet facilisis sollicitudin, risus augue tristique urna, tempus eleifend urna purus non erat. Nulla facilisi. In fringilla augue et nisi porttitor nec feugiat odio tempor. Etiam ultrices vehicula tortor eu scelerisque. In vel ullamcorper nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras volutpat pretium tortor at molestie. Aenean dui libero, hendrerit sit amet porttitor et, adipiscing id quam. Curabitur non ipsum sit amet urna semper blandit sed sit amet elit. Nam ac justo nulla.</p>
                
                <p class="text">Sed dictum dignissim quam. Cras eros erat, malesuada at molestie nec, sodales nec orci. Vivamus viverra gravida tortor id tincidunt. Quisque posuere elementum ligula sit amet dictum. Praesent placerat aliquet tellus id tempus. Curabitur tincidunt vestibulum pellentesque. Suspendisse nec lacus quis quam imperdiet condimentum sit amet quis mauris.</p>
                
                <p class="text">Nam eget erat eu dui mattis imperdiet. In cursus nulla nec quam dictum vulputate rhoncus massa commodo. Aliquam et diam justo, in consequat velit. Nunc id sem enim. Aenean non luctus massa. Sed rhoncus tincidunt scelerisque. Maecenas vel elit mi. Suspendisse eu erat mauris, venenatis scelerisque neque. Maecenas vel justo nisl. Sed vel sem sapien, et semper massa. Phasellus suscipit scelerisque placerat.</p>
        </div>
        <div class="footer" id="footer">
            <center><a href="mailto:submissions@nomoreboysclub.com">SUBMIT ARTWORK HERE</a></center>
        </div>
    </body>
