<!DOCTYPE html>
<html>
<head>
  <title>No More Boys Club</title>
  <%= stylesheet_link_tag :all %> 
  <link rel="stylesheet" href="/main.css" type="text/css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="/jquery.textfill.js"></script>
  <script type="text/javascript">
    function resizeImage(cssSelector, isInitialResize) {
        var offset = 0;
        if (isInitialResize) {
            offset = 15;
        }
        
        var width = $(window).width() + offset;
        var height = $(window).height() + offset;
        var imageWidth = $(cssSelector).width();
        var imageHeight = $(cssSelector).height();

        var canvasWidth = parseInt(width);
        var canvasHeight = parseInt(height);

        var minRatio = Math.min(canvasWidth / imageWidth, canvasHeight / imageHeight);
        var newImgWidth = minRatio * imageWidth;
        var newImgHeight = minRatio * imageHeight;

        var newImgX = (canvasWidth - newImgWidth) / 2;
        var newImgY = (canvasHeight - newImgHeight) / 2;
        
        $(cssSelector).css({
            position: 'absolute',
            top: newImgY,
            left: newImgX,
            width: newImgWidth,
            height: newImgHeight
        });
    }

    $(window).load(function(){
        var minWidth = ($(window).width()/50);        
        var maxWidth = ($(window).width()/5);        

        resizeImage('.main_image', 1);
        $('#content').textfill({
            minFontPixels: minWidth,
            maxFontPixels: maxWidth
        });
        $('.main_text').css({
            position: 'absolute',
            left: ($(window).width() - $('.main_text').outerWidth() + 10)/2,
            top: ($(window).height() - $('.main_text').outerHeight() - 10)/2
        });
        var minDimension = Math.min($(document).width(), $(document).height() - 100);

        $('#square_content').css({
            width: minDimension + 'px',
            height: minDimension + 'px'
        });
        $('#secondary_square_content').css({
            width: minDimension + 'px',
            height: minDimension + 'px'
        });
        $('#square_content').textfill({
            maxWidth: minDimension,
            maxHeight: minDimension,
            minFontPixels: 5,
            maxFontPixels: 100,
            innerTag: 'p'
        });
        $('#square_content').css({
            position: 'absolute',
            left: ($(window).width() - minDimension)/2,
            top: -15
        });
        $('#secondary_square_content').css({
            position: 'absolute',
            left: ($(window).width() - minDimension)/2,
            top: 0
        });
        $('.footer').css({
            position: 'absolute',
            left: ($(window).width() - $('.footer').width())/2,
            top: ($(window).height() - 45)
        });
    });

    $(document).ready(function(){
        $(window).resize(function(){
            var minDimension = Math.min($(document).width(), $(document).height() - 100);
            var minWidth = ($(window).width()/50);        
            var maxWidth = ($(window).width()/5);        

            resizeImage('.main_image');
            $('#content').textfill({
                minFontPixels: minWidth,
                maxFontPixels: maxWidth
            });
            $('.main_text').css({
                position: 'absolute',
                left: ($(window).width() - $('.main_text').outerWidth() + 10)/2,
                top: ($(window).height() - $('.main_text').outerHeight() - 10)/2
            });
            $('#square_content').css({
                width: minDimension + 'px',
                height: minDimension + 'px'
            });
            $('#secondary_square_content').css({
                width: minDimension + 'px',
                height: minDimension + 'px'
            });
            $('#square_content').textfill({
                maxWidth: minDimension,
                maxHeight: minDimension,
                minFontPixels: 10,
                maxFontPixels: 100,
                innerTag: 'div'
            });
            $('#square_content').css({
                position: 'absolute',
                left: ($(window).width() - minDimension)/2,
                top: -15
            });
            $('#secondary_square_content').css({
                position: 'absolute',
                left: ($(window).width() - minDimension)/2,
                top: 0
            });
            $('.footer').css({
                position: 'absolute',
                left: ($(window).width() - $('.footer').width())/2,
                top: ($(window).height() - 45)
            });
        });
//          To initially run the function (for some reason we have to run this twice):
        $(window).resize();
        $(window).resize();
    });
  </script>
  <script type="text/javascript" src="/jquery.imagefit-0.2.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
</body>
</html>
